@page
@model IndexModel
@{
    ViewBag.Title = "Home";
    //ViewData["Title"] = "Home page";
}

<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('img/slider2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Quality</span> Education You Can <span>Trust!</span></h1>
                            <p>Welcom, we are internationally accredited institution with modern technogies and professionals. </p>
                            <div class="button">
                                <a href="#" class="btn">Staff </a>
                                <a href="#aboutus" class="btn primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('img/slider.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Quality</span> Education You Can <span>Trust!</span></h1>
                            <p>Welcom, we are internationally accredited institution with modern technogies and professionals. </p>
                            <div class="button">
                                <a href="#" class="btn">Staff </a>
                                <a href="#aboutus" class="btn primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('img/slider3.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Quality</span> Education You Can <span>Trust!</span></h1>
                            <p>Welcom, we are internationally accredited institution with modern technogies and professionals. </p>
                            <div class="button">
                                <a href="#" class="btn">Staff </a>
                                <a href="#aboutus" class="btn primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
<!--/ End Slider Area -->
<!-- Start Schedule Area -->
<section class="schedule">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner">
                            <div class="icon">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="single-content">
                                <span>Departments</span>
                                <h4>Standard</h4>
                                <p>All our department are fully accredited.</p>
                                <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-prescription"></i>
                            </div>
                            <div class="single-content">
                                <span>Courses</span>
                                <h4> Modern Curriculum</h4>
                                <p>All Courses curriculum are internationally recognized.<span class="fa fa-book"></span></p>
                                <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <div class="single-content">
                                <span>Activity</span>
                                <h4> Academics</h4>
                                <p>E-learning is fully accerdited.<span class="fa fa-book"></span></p>
                                <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End Start schedule Area -->
<!-- Start Feautes -->
<section class="Feautes section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Are Internationally recognized institution</h2>
                    <img src="~/img/section-img.png" alt="#">
                    <p>Your future is bright with Kaduna polytechnic.</p>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-4 col-12">-->
                <!-- Start Single features -->
                <!--<div class="single-features">
                    <div class="signle-icon">
                        <i class="icofont icofont-ambulance-cross"></i>
                    </div>
                    <h3>Emergency Help</h3>
                    <p>Our emergency hotline is available 24/7 so also our quick response.</p>
                </div>-->
                <!-- End Single features -->
            <!--</div>
            <div class="col-lg-4 col-12">-->
                <!-- Start Single features -->
                <!--<div class="single-features">
                    <div class="signle-icon">
                        <i class="icofont icofont-medical-sign-alt"></i>
                    </div>
                    <h3>Enriched Pharmacy</h3>
                    <p>Our pharmacy have everything you need at a extremely cheeper price just for you.</p>
                </div>-->
                <!-- End Single features -->
            <!--</div>
            <div class="col-lg-4 col-12">-->
                <!-- Start Single features -->
                <!--<div class="single-features last">
                    <div class="signle-icon">
                        <i class="icofont icofont-stethoscope"></i>
                    </div>
                    <h3>Medical Treatment</h3>
                    <p>Our world class professionals are available to take care of you, we don't compromise on that.</p>
                </div>-->
                <!-- End Single features -->
            <!--</div>
        </div>-->
    </div>
</section>
<!--/ End Feautes -->
<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-home"></i>
                    <div class="content">
                        <span class="counter">35</span>
                        <p>Departments </p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-user-alt-3"></i>
                    <div class="content">
                        <span class="counter">2516</span>
                        <p>Staff</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont-simple-smile"></i>
                    <div class="content">
                        <span class="counter">35423</span>
                        <p>Students</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-table"></i>
                    <div class="content">
                        <span class="counter">25</span>
                        <p>Years of Experience</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
        </div>
    </div>
</div>
<!--/ End Fun-facts -->
<!-- Start Why choose -->
<section class="why-choose section" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Start Choose Left -->
              
                <!-- End Choose Left -->
            </div>
            <div class="col-lg-6 col-12">
              
            </div>
        </div>
    </div>
</section>
<!--/ End Why choose -->
<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h2>Contact Us ? Call : 1234 56789</h2>
                    <p>We respond at instantly.</p>
                    <div class="button">
                        <a href="#" class="btn">Contact Now</a>
                        <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->
<!-- Start portfolio -->
<section class="portfolio section">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-12">
                <div class="section-title">
                    <h2>We Maintain Cleanliness Rules Inside Our Hospital</h2>
                    <img src="~/img/section-img.png" alt="#">
                    <p>Our environments says alot about how we take healthy living our priority. </p>
                </div>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="owl-carousel portfolio-slider">
                    <div class="single-pf">
                        <img src="~/img/pf1.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf2.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf3.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf4.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf1.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf2.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf3.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/pf4.jpg" alt="#">
                        @*<a href="portfolio-details.html" class="btn">View Details</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End portfolio -->
<!-- Start service -->
<section class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              
            </div>
            <div class="col-lg-4 col-md-6 col-12">
               
            </div>
            <div class="col-lg-4 col-md-6 col-12">
               
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
               
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- Start clients -->
<div class="clients overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="owl-carousel clients-slider">
                    <div class="single-clients">
                        <img src="~/img/slider.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider2.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider3.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider2.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider3.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider2.jpg" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="~/img/slider3.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Ens clients -->
<!-- Start Appointment -->
<section class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Are Always Ready to Help You. Book An Appointment</h2>
                    <img src="img/section-img.png" alt="#">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 offset-md-2 pull-md-2">
               
            </div>
            <div class="col-lg-6 col-md-12 ">
                <div class="appointment-image">
                    <img src="img/slider.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment -->
<!-- Start Newsletter Area -->
<section class="newsletter section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6  col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-text ">
                    <h6>Sign up for newsletter</h6>
                    <p class="">Subscribe to our newsletter to get all our news in your inbox.. </p>
                </div>
                <!-- End Newsletter Form -->
            </div>
            <div class="col-lg-6  col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-form ">
                    <form class="newsletter-inner">
                        <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your email address'" required="" type="email">
                        <a href="#" class="btn">Subscribe</a>
                    </form>
                </div>
                <!-- End Newsletter Form -->
            </div>
        </div>
    </div>
</section>
<!-- /End Newsletter Area -->
@section Scripts{
    @*<script src="~/js/department-doctors.js"></script>*@
}
