<!DOCTYPE html>
@inject SignInManager<ApplicationUser> signInManager;
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <environment include="Development">
        @*for development environment*@
        @*<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />*@
        <!-- Favicon icon -->
        <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
        <link rel="stylesheet" type="text/css" href="~/assets/icon/font-awesome/css/font-awesome.min.css">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
    </environment>
    <environment exclude="Development">
        <!-- Favicon icon -->
        <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
        <link rel="stylesheet" type="text/css" href="~/assets/icon/font-awesome/css/font-awesome.min.css">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
    </environment>
</head>
<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-page="/index" >Result Checker
                            @*<img class="img-fluid" src="~/assets/images/logo.png" alt="Theme-Logo" />*@
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                          
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-pink"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-body">
                                                <a  href="#" >
                                                    <h5 class="notification-user">View </h5>
                                                    <p class="notification-msg">result uploaded available here as its submitted.</p>
                                                    <span class="notification-time">recents uploads</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                 
                                </ul>
                            </li>

                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="~/img/sorry-no-image-available.jpg" asp-append-version="true" id="staffImage" height="45" width="45" class="img-radius" alt="Profile-Image">
                                    <span><label id="staffName"></label></span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a asp-page="/index" >
                                            <i class="ti-settings"></i> Home Page
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="/admin/staffprofile" >
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-page="/admin/changepassword">
                                            <i class="ti-lock"></i>Change Password
                                        </a>
                                    </li>
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <form method="post" asp-page="index" >
                                                <button type="submit" class="btn-link">
                                                    <i class="ti-layout-sidebar-left"></i> Logout
                                                </button>
                                            </form>

                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">

                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Layout</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a asp-page="/admin/index">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                @*@if (User.IsInRole("Admin") || User.IsInRole("HOD"))
            {*@
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Admin Tools</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a asp-page="/admin/staff">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Staff</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a asp-page="/admin/addstaff">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Add Staff</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a asp-page="/admin/roles">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">User Roles</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a asp-page="/admin/manageUserclaims">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">User Claims</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a asp-page="/student/index">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Students</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>

                                        @*<li class=" ">
                        <a asp-page="/patients" >
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Patients</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>*@
                                    </ul>
                                </li>

                                @*}*@
                            </ul>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Courses </div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a asp-page="/admin/courses">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>PT</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">All Courses</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/student/courseregs">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>LR</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Course Reg</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            @*@if (User.IsInRole("Admin") || User.IsInRole("HOD") || User.IsInRole("Examiner") || User.IsInRole("Lecturer"))
        {*@
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Result</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a asp-page="/admin/submittedresult">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>Ps</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Submitted Result</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/admin/UploadResult">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>OL</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Upload Result</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>
                            @*}*@
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Lecturer</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a asp-page="/admin/courseLecturers">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>CL</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Course Lecturer</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Students</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a asp-page="/student/index">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>ST</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Students</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/student/mycoursereg">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>CR</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">My Course Reg.</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/student/myresult">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>SR</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">My Result</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/index">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>LG</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main"><strong>Log Out</strong></span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                           
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    @*body contents here*@
                                    <div class="page-body">
                                        @RenderBody()

                                    </div>
                                    @*end of body contents*@
                                    <div id="styleSelector">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <environment include="Development">
        @*for development environment*@
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
        
        <partial name="_ValidationScriptsPartial"/>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!-- jquery slimscroll js -->
        <script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
        <!-- modernizr js -->
        <script type="text/javascript" src="~/assets/js/modernizr/modernizr.js"></script>
        <!-- am chart -->
        <script src="~/assets/pages/widget/amchart/amcharts.min.js"></script>
        <script src="~/assets/pages/widget/amchart/serial.min.js"></script>
        <!-- Chart js -->
        <script type="text/javascript" src="~/assets/js/chart.js/Chart.js"></script>
        <!-- Todo js -->
        <script type="text/javascript " src="~/assets/pages/todo/todo.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="~/assets/pages/dashboard/custom-dashboard.min.js"></script>
        <script type="text/javascript" src="~/assets/js/script.js"></script>
        <script type="text/javascript " src="~/assets/js/SmoothScroll.js"></script>
        <script src="~/assets/js/pcoded.min.js"></script>
        <script src="~/assets/js/vartical-demo.js"></script>
        <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        @*<script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
        <partial name="_ValidationScriptsPartial" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!-- jquery slimscroll js -->
        <script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
        <!-- modernizr js -->
        <script type="text/javascript" src="~/assets/js/modernizr/modernizr.js"></script>
        <!-- am chart -->
        <script src="~/assets/pages/widget/amchart/amcharts.min.js"></script>
        <script src="~/assets/pages/widget/amchart/serial.min.js"></script>
        <!-- Chart js -->
        <script type="text/javascript" src="~/assets/js/chart.js/Chart.js"></script>
        <!-- Todo js -->
        <script type="text/javascript " src="~/assets/pages/todo/todo.js "></script>
        <!-- Custom js -->
        <script type="text/javascript" src="~/assets/pages/dashboard/custom-dashboard.min.js"></script>
        <script type="text/javascript" src="~/assets/js/script.js"></script>
        <script type="text/javascript " src="~/assets/js/SmoothScroll.js"></script>
        <script src="~/assets/js/pcoded.min.js"></script>
        <script src="~/assets/js/vartical-demo.js"></script>
        <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    </environment>
    @*<script type="text/javascript">
        $(document).ready(function () {
            var staffImage = $("#staffImage");
            var staffName = $('#staffName');
            var staffEmail = "@User.Identity.Name";
            $.ajax({
                url: "https://localhost:44376/admin/GetUser",
                method: "GET",
                data: { email: staffEmail },
                success: function (data) {
                /*console.log(data);*/
                    if (data.photo!=null) {
                        staffImage.attr("src", "../../images/" + data.photo);
                        staffName.text(data.name);
                    }
                    else {
                        staffImage.attr("src", "../../patients-images/sorry-no-image-available.jpg");
                        staffName.text(data.name);
                    }

                    //console.log(data.photo + " --- " + data.name);
                    // console.log(data);
                }
            });
        });
    </script>*@

    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false);
    }
    <script>
        //addEventListener(document, "touchstart", function (e) {
        //    console.log(e.defaultPrevented);  // will be false
        //    e.preventDefault();   // does nothing since the listener is passive
        //   // console.log(e.defaultPrevented);  // still false
        //}, Modernizr.passiveeventlisteners ? { passive: false } : true);
        //document.addEventListener('touchstart', handler, { capture: true });

        //document.addEventListener("mousewheel", this.mousewheel.bind(this), { passive: false });
        //var supportsPassive = false;
        //try {
        //    var opts = Object.defineProperty({}, 'passive', {
        //        get: function () {
        //            supportsPassive = true;
        //        }
        //    });
        //    window.addEventListener("testPassive", null, opts);
        //    window.removeEventListener("testPassive", null, opts);
        //} catch (e) { }

        //// Use our detect's results. passive applied if supported, capture will be false either way.
        //elem.addEventListener('touchstart', fn, supportsPassive ? { passive: false } : true); 
    </script>
</body>
</html>
