@page

@model ResultChecker.Pages.Student.AddStudentModel
@{
    ViewBag.Title = "Add Student";
}
<div class="row">
    <div class="col-sm-8">
        <h5 class="h5">Add New Student</h5>
        <form method="post" enctype="multipart/form-data" class="mt-2">
            <div class="form-group row">
                <label class="col-form-label col-sm-2">Student ID</label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.StaffID" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.StaffID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Email" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Email" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.FirstName" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.FirstName" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.LastName" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.LastName" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.MiddleName" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.MiddleName" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.PhoneNumber" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.PhoneNumber" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.DOB" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.DOB" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.DOB" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Gender" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => Model.ApplicationUsers.Gender, new SelectList(Model.GenderList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="ApplicationUsers.Gender" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group row">
                <label asp-for="ApplicationUsers.Religion" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <select asp-for="ApplicationUsers.Religion" class="form-control">
                        <option value="">Select Religion</option>
                        <option value="Islam">Islam</option>
                        <option value="Christianity">Christianity</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="ApplicationUsers.Religion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Tribe" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Tribe" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Tribe" class="text-danger"></span>
                </div>
            </div>*@
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Qualification" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Qualification" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Qualification" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Department" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Department" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Department" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.State" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    @*<input asp-for="State" class="form-control" />*@
                    @Html.DropDownListFor(x => Model.ApplicationUsers.State, new SelectList(Model.StateList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control", id = "State" })
                    <span asp-validation-for="ApplicationUsers.State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.LGA" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <select asp-for="ApplicationUsers.LGA" asp-items="Model.LgaList" class="form-control" id="lga">
                    </select>
                    <span asp-validation-for="ApplicationUsers.LGA" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Address" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Address" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Address" class="text-danger"></span>
                </div>
            </div>
          
            <div class="form-group row">
                <label asp-for="ApplicationUsers.Hobbies" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.Hobbies" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.Hobbies" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.NOKName" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.NOKName" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.NOKName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.NOKPhone" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.NOKPhone" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.NOKPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.NOKAddress" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.NOKAddress" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.NOKAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUsers.PassportPhoto" class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="ApplicationUsers.PassportPhoto" accept="image/*" class="form-control" />
                    <span asp-validation-for="ApplicationUsers.PassportPhoto" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-10 offset-2">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a asp-page="/student/index" class="btn btn-warning btn-sm">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @*<script src="~/js/custom-script.js"></script>*@
    <script>
    $(document).ready(function () {
        var state = $("#State");
        var lga = $("#lga");
        lga.prop('disabled', true);

        state.change(function () {
            if ($(this).val() == "") {
                lga.append($('<option>', { value: '', text: '---- Select LGA ----' }, '</option>'));
                lga.prop('disabled', true);
                lga.val("");
            }
            else {
                $.getJSON("/GetLga", { state: $(this).val() }, function (data) {
                    lga.prop('disabled', false);
                    lga.empty();
                    lga.append($('<option>', { value: '0', text: '---- Select LGA ----' }, '</option>'));
                    $.each(data, function (index, lgas) {
                        lga.append($('<option/>',
                            {
                                value: lgas.value,
                                text: lgas.text,
                            }));
                    });
                });
            }
        });
    });
    </script>
}