@page
@model ResultChecker.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewBag.Title = "Password Changed";
}

<div class="col-sm-4 col-md-4 offset-sm-4 pull-sm-4">
    <h5>Password changed confirmation</h5>
    <label class="col-form-label">Your password change was successful, <a class="btn-link" asp-page=",/login" >clcik to proceed to login</a> </label>
    <hr />
    <a asp-page="./index"  class="btn-link">Click here to go back home page</a>
</div>
