@page
@model ResultChecker.Pages.Admin.AccessDeniedModel
@{
    ViewBag.Title = "Access Denied";

}
<div class="text-danger text-center">
    <h4>Access Denied</h4>
    <h6>You do not have access to view this resource</h6>
    <img src="~/img/access-denied2.jpg" asp-append-version="true" style="height:300px; width:300px;" />
</div>