@page  "{id:guid?}"
@model ResultChecker.Pages.Admin.CreateRoleModel
@{
    ViewBag.Title = "Create Role";
}

<div class="row">
    <div class="col-sm-6">
        <h5 class="h5">Create New Role</h5>
        <form method="post">
            <input asp-for="Id" hidden class="form-control" />
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="RoleName" class="col-form-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Create Role</button>
            <a asp-page="roles" class="btn btn-info btn-sm">Cancel</a>
        </form>
    </div>
</div>